


<app-hbase></app-hbase>
<!-- Top buttons -->
<div class="main2">
        <button type="button" class="btn" alignment="left" (click)="prev()">Previous</button>
        &nbsp;&nbsp;
        <button type="button" class="btn" alignment="right" (click)="next()">Next</button>
</div>
<div class="main">
        <h2>Hbase</h2>
        Hbase is a data warehouse system which is used to analyze structured data. It is built on the top of Hadoop. It
        was developed by Facebook.

        Hive provides the functionality of reading, writing, and managing large datasets residing in distributed
        storage. It runs SQL like queries called HQL (Hive query language) which gets internally converted to MapReduce
        jobs.

        Using Hive, we can skip the requirement of the traditional approach of writing complex MapReduce programs. Hive
        supports Data Definition Language (DDL), Data Manipulation Language (DML), and User Defined Functions (UDF).
</div>
<!-- Bottom buttons -->
<br>
<div class="main1">
        <button type="button" class="btn1" id="prev" alignment="left" (click)="prev()">Previous</button>
        &nbsp;&nbsp;
        <button type="button" class="btn1" id="next" alignment="right" (click)="next()">Next</button>
</div>