
<app-hadoop></app-hadoop>
<!-- Top buttons -->
<div class="main2">
        <button type="button" class="btn" alignment="left" (click)="prev()">Previous</button>
        &nbsp;&nbsp;
        <button type="button" class="btn" alignment="right" (click)="next()">Next</button>
</div>
<div class="main">
<h2>Big data</h2>
“If the data has expanded to such an extent that now a single computing system is unable to store and process it, then we can call this data, big data.”       


Today, access to the internet has become affordable, and Internet usage has grown widespread. Each online activity, such as sending emails, booking movie tickets, posting on blogs, posting reviews on an e-commerce portal, etc., generates massive volumes of data. This growing use of the Internet facilitates data generation and easy access to the generated data. Hence, we have entered a world that has become data-driven. Organisations and various industries are leveraging the power of big data to make important decisions.
Why we need big data?
To filtering and clearing useful and unusual of data
To analyzed 
To apply strategy for business.
Why big data is messy? 
Because 80% efforts needs to clean the data only. i.e. from unusual to usual data

These data come from many sources like

Social networking sites: Facebook, Google, LinkedIn all these sites generates huge amount of data on a day to day basis as they have billions of users worldwide.
E-commerce site: Sites like Amazon, Flipkart, Alibaba generates huge amount of logs from which users buying trends can be traced.
Weather Station: All the weather station and satellite gives very huge data which are stored and manipulated to forecast weather.
Telecom company: Telecom giants like Airtel, Vodafone study the user trends and accordingly publish their plans and for this they store the data of its million users.
Share Market: Stock exchange across the world generates huge amount of data through its daily transaction.
3V's of Big Data
Velocity: The data is increasing at a very fast rate. It is estimated that the volume of data will double in every 2 years.
Variety: Now a days data are not stored in rows and column. Data is structured as well as unstructured. Log file, CCTV footage is unstructured data. Data which can be saved in tables are structured data like the transaction data of the bank.
Volume: The amount of data which we deal with is of very large size of Peta bytes.
Use case
An e-commerce site XYZ (having 100 million users) wants to offer a gift voucher of 100$ to its top 10 customers who have spent the most in the previous year.Moreover, they want to find the buying trend of these customers so that company can suggest more items related to them.
</div>                

<!-- Bottom buttons -->
<br>
<div class="main1">
        <button type="button" class="btn1" id="prev" alignment="left" (click)="prev()">Previous</button>
        &nbsp;&nbsp;
        <button type="button" class="btn1" id="next" alignment="right" (click)="next()">Next</button>
</div>

