<header class="fixed-header">
  <div>
    <div class="panel panel-default">
      <figure>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <img src="./assets/common/SiriusLogo.jpg" alt="header" width="180" height="64">
        <span class="name" style="color: red">
          Sirius School
        </span>
      </figure>
    </div>
  </div>
</header>
<div class="fixed-navbar">
  <nav class="navbar bg-color mainnav">
    <ul class="nav">
      <li class="nav-item active">
        <a class="nav-link about" routerLink="/home" routerLinkActive="active" id="home">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link about" routerLink="/introduction" routerLinkActive="active" id="introduction">Hadoop</a>
      </li>
      <li class="nav-item menu active">
        <a class="nav-link angular" routerLink="/qintroduction" routerLinkActive="active" id="qintroduction">Sqoop</a>
      </li>
      <li class="nav-item menu1 active">
        <a class="nav-link java" routerLink='/fintroduction' routerLinkActive="active" id="fintroduction">Flume</a>
      </li>
      <li class="nav-item menu active">
        <a class="nav-link angular" routerLink="/hintroduction" routerLinkActive="active" id="hintroduction">Hive</a>
      </li>
      <li class="nav-item menu1 active">
        <a class="nav-link java" routerLink='/bintroduction' routerLinkActive="active" id="bintroduction">Hbase</a>
      </li>
      <li class="nav-item menu1 active">
        <a class="nav-link java" routerLink='/cintroduction' routerLinkActive="active" id="cintroduction">Cassandra</a>
      </li>
      <li class="nav-item menu1 active">
        <a class="nav-link java" routerLink='/ointroduction' routerLinkActive="active" id="ointroduction">Oozie</a>
      </li>
      <li class="nav-item menu1 active">
        <a class="nav-link java" routerLink='/pintroduction' routerLinkActive="active" id="pintroduction">Pig</a>
      </li>
      <li class="nav-item menu1 active">
        <a class="nav-link java" routerLink='/sintroduction' routerLinkActive="active" id="sintroduction">Spark</a>
      </li>
      <li class="nav-item menu1 active">
        <a class="nav-link java" routerLink='/kintroduction' routerLinkActive="active" id="kintroduction">Kafka</a>
      </li>
    </ul>
  </nav>
</div>
<router-outlet></router-outlet>
<body class="main">

</body>



<!-- Footer -->
<footer class="main"> 

  <button (click)="topFunction()" id="myBtn" title="Go to top">Top</button>
  <br><br>
  &copy; Copyright 2020. www.siriusschool.com. All rights reserved.
</footer>
