/* You can add global styles to this file, and also import other style files */
.name{
    font-size: 58px;
    line-height: 52px;
    font-weight: 600;
}
/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    font-family:verdana,helvetica,arial,sans-serif;
    line-height: 23px;
    padding-top: 50px;
    width:1000px; /*added to fixed the width of word*/
    font-size: 1em;
    overflow-x: hidden; 
    text-align: justify;
}

.main{
    padding-top: 50px;
    margin-left:250px;
}
.main1{
    margin-left:250px;
}
.main2{
    padding-top: 50px;
    margin-left:250px;
}
/*vertical line for code*/
.vl {
    border-left: 3px solid blue;
    padding-left: 12px;
    /*background-color:#F0F0F0;*/
}
pre, code {
    font-family: monospace, monospace;
  }
  pre {
    overflow: auto;
  }
  pre > code {
    display: block;
    padding: 1rem;
    word-wrap: normal;
  }
  /*go to Top button*/
  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    /*background-color:lightseagreen;*/
    background-color:#555;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  #myBtn:hover {
    background-color: #555;
  }
.logoAndHeader{
    float:left;
}
/*anker tag*/
a:link {
    color:white;
}
a:hover{
    color:#555;
}
.mainnav a:hover {
    /*color: #f1f1f1;*/
   /* color:black;*/
    color:black;
    background-color:#ddd;
}
.mainnav a{
   color:white; 
}
.mainnav a.active{
    color:white;
    background-color: #181818;
}
nav{
   overflow: hidden;
   width: 100%;
   /*background-color:#5BC0DE;*/
   background-color:#333;
   /*added*/
   color:white;
}
footer {
    clear: both;
    position: relative;
    /*
    z-index: 10;
    height: 3em;
    margin-top: -3em;
    */
    margin-top: -3em;
    height: 10em;
    padding-left: 150px;
}
.fixed-header, .fixed-navbar{
    width: 100%;
    position: fixed;       
    background: white;
   
}
.fixed-header{
    top:0 ;
}
.sidenav {
    height: 80%;
    width: 18%;
    position: fixed;
    z-index: 1;
    top: 129px;
    left: 0;
    /*background-color:#5BC0DE;*/
    background-color:#f1f1f1;
    overflow-x: hidden;
    padding-top: 20px;
    display:block;
    overflow:auto;
}
.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    display: block;
    /*added*/
    color:black;
    background-color:#eee;  
}
.sidenav a:hover {
    /*color: #f1f1f1; */
    background-color:#ccc;  
    cursor: pointer; 
}
/*added css a:active*/
.sidenav a.active{
    color:white;
    background-color:#181818;
}
.sidenavR {
    height: 90%;
    width: 18%;
    position: fixed;
    z-index: 1;
    top: 125px;
    right: 0;
    overflow-x: hidden;
    padding-top: 20px;
}
.btn{
    display: inline-block;
    top:50px;
    right:-85%;
    position: relative; 
    overflow-x: hidden;
    z-index: 1;
    background-color: #eee !important; 
}
.btn:hover { 
    background-color: #ccc;
    cursor: pointer;
}
.btn1{
    display: inline-block;
    right:-85%;
    position: relative; 
    overflow-x: hidden;
    z-index: 1;
    background-color: #eee !important; 
}
.btn1:hover { 
    background-color: #ccc;
    cursor: pointer;
}
#prev.btn1{
    display: inline-block;
    left:3%;
    position: relative; 
    overflow-x: hidden;
    z-index: 1;
    background-color: #eee !important; 
}
#prev.btn1:hover{
    background-color: #ccc;
    cursor: pointer;
}
.avia_mobile #top .av-parallax-section { z-index: 0; }

.bottomNextBtn{
    position: absolute;
    /*right:-150px;*/
    right:-45px;
    background-color: #eee;
    cursor:pointer;
    display: inline-block; 
    }
.bottomNextBtn:hover{
    background-color: #ccc;
}
.bottomPrevBtn{
    position: absolute;
    left: 5px;
    background-color: white;
    cursor:pointer;
    display: inline-block;       
    }
.bottomPrevBtn:hover{
    background-color: #ccc;
}

/*Note*/
.info {
    background-color: #e7f3fe;
    border-left: 6px solid #2196F3;
    margin-bottom: 15px;
    padding: 4px 12px;
}
.danger {
    background-color: #552727;
    border-left: 6px solid #f44336;
    margin-bottom: 15px;
    padding: 4px 12px;
}

.success {
    background-color: #ddffdd;
    border-left: 6px solid #4CAF50;
    margin-bottom: 15px;
    padding: 4px 12px;
}
.warning {
    background-color: #ffffcc;
    border-left: 6px solid #ffeb3b;
    margin-bottom: 15px;
    padding: 4px 12px; 
}
/*Note End*/